/* COMMON */
body {
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
}



/* -----------------HEADER FIXED--------------- */
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Logo */
.logo-sony {
    height: 35px;
    line-height: 35px;
    background-color: black;
    text-align: right;
}
.logo-sony img {
    width: 100px;
    padding-right: 10px;
}


/* Fixed Menu */
nav {
    height: 70px;
    /* width: 100%; */
    background-color: white;
}
.logo-play {
    width: 60px;
}
.burger {
    font-size: 30px;
    text-align: right;
}
