/* COMMON */
body {
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

/* BUTTONS */
.nav-menu ul li .ms_btn {
    color: white;
    padding: 11px 16px;
    background-color: #363636;
    border-radius: 30px;
}



/* -----------------HEADER FIXED--------------- */
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Logo */
.logo-sony {
    height: 35px;
    line-height: 35px;
    background-color: black;
    text-align: right;
}
.logo-sony img {
    width: 100px;
    padding-right: 10px;
}

/* Menu */
nav {
    background-color: white;
}
.nav-menu {
    height: 70px;
    display: flex;
}
.nav-menu ul li a {
    color: black;
    font-weight: bold;
    font-size: 16px;
}


/* Logo Play */
.logo-play img {
    width: 50px;
}


/* List Menu */
ul li .arrow-down {
    margin-left: 3px;
    width: 10px;
}
.list-menu-sx {
    display: flex;
    flex-grow: 1;
}
.list-menu-dx .lens {
    width: 25px;
}
nav ul li {
    padding: 10px;
}


/* Burger Menu */
.burger {
    font-size: 30px;
    display: flex;
}
.burger i {
    border: 1px solid lightgray;
    color: gray;
    padding: 8px 18px;
    border-radius: 5px;
}
/* ---------------end HEADER FIXED------------- */



/* ---------------------MAIN------------------- */
main {
    margin-top: 105px;
}

.jumbotron {
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}











