/* COMMON */
body {
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}


/* BUTTONS */
.ms_btn {
    padding: 11px 16px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
}

.ms_btn:hover {
    opacity: 0.7;
}

.btn_blue {
    background-color: #2d64e6;
    color: white;
}

.ms_btn.btn_orange {
    background-color: #cd3d0f;
    color: white;
}

.nav-menu ul li .btn_grey {
    color: white;
    padding: 11px 16px;
    background-color: #363636;
    border-radius: 30px;
}



/* -----------------HEADER FIXED--------------- */
header {
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Logo */
.logo-sony {
    height: 35px;
    line-height: 35px;
    background-color: black;
    text-align: right;
}
.logo-sony img {
    width: 100px;
    padding-right: 10px;
}

/* Menu */
nav {
    background-color: white;
}
.nav-menu {
    height: 70px;
    display: flex;
}
.nav-menu ul li a {
    color: black;
    font-weight: bold;
    font-size: 16px;
}


/* Logo Play */
.logo-play img {
    width: 50px;
}


/* List Menu */
ul li .arrow-down {
    margin-left: 3px;
    width: 10px;
}
.list-menu-sx {
    display: flex;
    flex-grow: 1;
}
.list-menu-dx .lens {
    width: 25px;
}
nav ul li {
    padding: 10px;
}


/* Burger Menu */
.burger {
    font-size: 30px;
    display: flex;
}
.burger i {
    border: 1px solid lightgray;
    color: gray;
    padding: 8px 18px;
    border-radius: 5px;
}
/* ---------------end HEADER FIXED------------- */



/* ---------------------MAIN------------------- */
main {
    margin-top: 105px;
}

/* Jumbotron */
.jumbotron {
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.jumbotron-text {
    padding-bottom: 50px;
    height: 600px;
    align-items: flex-end;
}

.jumbotron-text img {
    width: 270px;
}

.jumbotron-text h2 {
    padding: 30px 0;
    font-size: 40px;
}

.jumbotron-text p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 25px;
}


/* Cards Game */
.card-game img {
    border-radius: 20px;
    margin-top: 30px;
}

.card-game img:hover {
    border: 2px solid blue;
    padding: 4px;
    opacity: 0.8;
    margin-top: 20px;
}

/* PlayStation 5 */
.playstation5 {
    padding-top: 150px;
}

.playstation5-text {
    text-align: center;
    /* padding-bottom: 70px; */
}


/* Classe comune in tutto il main */
.main-text-pt {
    padding-top: 100px;
}
.main-text h6 {
    font-size: 15px;
    color: #0474ce;
    font-weight: bold;
    margin-bottom: 0;
}

.main-text h2 {
    font-size: 45px;
}

.main-text p {
    font-size: 18px;
    color: gray;
    font-weight: bold;
    padding: 25px 0;
}

.devices {
    padding-top: 30px;
}








/* EXTRA */
/* - Hover nei pulsanti con opacity */
/* - Hover nelle immagini (card game) */